In [2]:
import numpy as np
import pandas as pd

In [7]:
import os 
print(os.getcwd())

e:\

In [11]:
path = 'data/300_P/300_CLNF_gaze.txt'
gaze = pd.read_csv(path)

In [13]:
gaze.head()

,frame,timestamp,confidence,success,x_0,y_0,z_0,x_1,y_1,z_1,x_h0,y_h0,z_h0,x_h1,y_h1,z_h1
0,1,0.000000,0.939744,1,-0.029688,0.180642,-0.983101,-0.232945,0.217617,-0.947829,0.060326,0.386610,-0.920268,-0.143155,0.428261,-0.892244
1,2,0.033333,0.944596,1,-0.044792,0.156881,-0.986601,-0.219392,0.212574,-0.952197,0.043854,0.378233,-0.924671,-0.130209,0.435774,-0.890588
2,3,0.066667,0.947792,1,-0.046380,0.159085,-0.986175,-0.219184,0.217659,-0.951096,0.047980,0.390701,-0.919266,-0.124743,0.449668,-0.884442
3,4,0.100000,0.948344,1,-0.048919,0.158756,-0.986105,-0.218531,0.218524,-0.951048,0.047789,0.400474,-0.915061,-0.122088,0.459371,-0.879814
4,5,0.133333,0.948772,1,-0.049150,0.158651,-0.986111,-0.217816,0.220629,-0.950725,0.047747,0.402556,-0.914149,-0.121251,0.463143,-0.877950

In [14]:
path = 'data/300_P/300_CLNF_pose.txt'
pose = pd.read_csv(path)
pose.head()

,frame,timestamp,confidence,success,Tx,Ty,Tz,Rx,Ry,Rz
0,1,0.000000,0.939744,1,69.3181,39.2286,575.033,0.203683,-0.088582,-0.050478
1,2,0.033333,0.944596,1,68.8777,38.6533,572.427,0.218002,-0.090140,-0.048800
2,3,0.066667,0.947792,1,68.5641,38.2144,570.509,0.229491,-0.095551,-0.043008
3,4,0.100000,0.948344,1,68.3127,37.9017,568.938,0.240995,-0.097895,-0.038246
4,5,0.133333,0.948772,1,68.2095,37.8085,568.248,0.243577,-0.098172,-0.036744

In [4]:
path = 'data/300_P/300_CLNF_AUs.txt'
aus = pd.read_csv(path)
aus.head()

,frame,timestamp,confidence,success,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU09_r,...,AU17_r,AU20_r,AU25_r,AU26_r,AU04_c,AU12_c,AU15_c,AU23_c,AU28_c,AU45_c
0,1,0.000000,0.939744,1,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0,0,0,1,0,0
1,2,0.033333,0.944596,1,0.0,0.000000,0.699758,0.0,0.0,0.844862,...,0.0,0.0,0.000000,0.0,1,0,0,1,0,0
2,3,0.066667,0.947792,1,0.0,0.612177,0.925854,0.0,0.0,0.562191,...,0.0,0.0,0.755136,0.0,1,0,0,1,0,0
3,4,0.100000,0.948344,1,0.0,0.767003,0.972450,0.0,0.0,0.806432,...,0.0,0.0,0.850600,0.0,1,0,0,1,0,1
4,5,0.133333,0.948772,1,0.0,0.515646,0.945269,0.0,0.0,0.918129,...,0.0,0.0,0.689261,0.0,1,0,0,1,0,1

In [7]:
aus.columns

Index(['frame', ' timestamp', ' confidence', ' success', ' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU09_r', ' AU10_r', ' AU12_r',
       ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU25_r', ' AU26_r',
       ' AU04_c', ' AU12_c', ' AU15_c', ' AU23_c', ' AU28_c', ' AU45_c'],
      dtype='object')